
[Desktop Entry]
Type=Application
Name=Qtimer
Comment=Management your time for work and for rest
Exec=qtimer
Icon=qtimer
Categories=Office;
Name[ru]=qtimer
